.blog-topic {
    border: 3px solid bisque;
    border-radius: 10px;
    background-color: rgba(255, 228, 196, 0.575);
    color: black;
    font-size: 14pt;
    margin-top: 10px;
}
.blog-topic img {
    border: 3px solid bisque;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 40%;
}
.blog-topic h3 {
    font-size: 30pt;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}
.blog-topic p {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2
}
.blog-topic li {
    line-height: 10
}

span {
    color: rgb(98, 0, 255);
}
