.gallery-container {
    display: flex;
    flex-wrap: wrap;
}
#personal-subtitle {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 50px;
    margin: 0;
}
#tech-subtitle {
    text-transform: uppercase;
    width: 100%;
    font-size: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.main-gallery {
    margin-bottom: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.main-thumbnail {
    display: flex;
    flex-direction: column;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    margin: 38px;
    min-width: 250px;
    max-width: 250px;
    height: 330px;
}
.main-thumbnail img {
    border-radius: 10px;
    height: 260px;
}
.main-thumbnail a {
    font-size: 14pt;
    padding: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 228, 196, 0.575);
}