body {
    background-image: url(https://wallpapercave.com/wp/wp2747959.jpg);
    font-family: Arial;
    color: rgba(255, 228, 196, 0.925);
}
.wrapper {
    max-width: 980px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin: auto
}


.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-title {
    text-transform: uppercase;
    margin-top: 30%;
    margin-bottom: 0.1em;
    font-size: 95pt;
}
.header-nav {
    padding: 1.5em;
}
.header-nav-btn {
    text-transform: uppercase;
    text-decoration: none;
    color:rgba(255, 166, 0, 0.644);
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 20pt;
}
.header-quote {
    margin-top: 0px;
    margin-bottom: 500px;
    font-size: 20pt;
    color:rgba(255, 228, 196, 0.514)
}


.footer-container a{
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 166, 0, 0.459);
}
.footer-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}